<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Employee Managemnt System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>AddEmployee</servlet-name>
  <servlet-class>com.employeemanagement.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddEmployee</servlet-name>
  <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DeleteEmployee</servlet-name>
  <servlet-class>com.employeemanagement.controller.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteEmployee</servlet-name>
  <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ViewEmployee</servlet-name>
  <servlet-class>com.employeemanagement.controller.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ViewEmployee</servlet-name>
  <url-pattern>/ViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UpdateEmployee</servlet-name>
  <servlet-class>com.employeemanagement.controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateEmployee</servlet-name>
  <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AddProject</servlet-name>
  <servlet-class>com.employeemanagement.controller.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddProject</servlet-name>
  <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>UpdateProject</servlet-name>
  <servlet-class>com.employeemanagement.controller.UpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateProject</servlet-name>
  <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AssignSalary</servlet-name>
  <servlet-class>com.employeemanagement.controller.AssignSalary</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AssignSalary</servlet-name>
  <url-pattern>/AssignSalary</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UpdateSalary</servlet-name>
  <servlet-class>com.employeemanagement.controller.UpdateSalary</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateSalary</servlet-name>
  <url-pattern>/UpdateSalary</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SortEmployeeBySalary</servlet-name>
  <servlet-class>com.employeemanagement.controller.SortEmployeeBySalary</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SortEmployeeBySalary</servlet-name>
  <url-pattern>/SortEmployeeBySalary</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AssignProject</servlet-name>
  <servlet-class>com.employeemanagement.controller.AssignProject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AssignProject</servlet-name>
  <url-pattern>/AssignProject</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UnassignProject</servlet-name>
  <servlet-class>com.employeemanagement.controller.UnassignProject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UnassignProject</servlet-name>
  <url-pattern>/UnassignProject</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EmployeeOnProject</servlet-name>
  <servlet-class>com.employeemanagement.controller.EmployeeOnProject</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmployeeOnProject</servlet-name>
  <url-pattern>/EmployeeOnProject</url-pattern>
  </servlet-mapping>
</web-app>